---
import BaseLayout from '../layouts/BaseLayout.astro';

const titleTag = "How We Build Faster Websites";
const metaDescription = "Use Astro.js to build websites with lightning speed and ace page speed metrics from various vendors like PageSpeed Insights and GTMetrix";
---

<BaseLayout titleTag={titleTag} metaDescription={metaDescription}>
  <h2>My awesome blog subtitle</h2>
</BaseLayout>
