---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

const titleTag = "Learn How We Build Faster Websites";
const metaDescription = "Read about all things SEO and web performance.";
---

<BaseLayout titleTag={titleTag} metaDescription={metaDescription}>
    <h1>My Awesome Blog</h1>
    <ul>
        {allPosts.map((post: any) => (
            <BlogPost url={post.url} title={post.frontmatter.title} />
        ))}
    </ul>
</BaseLayout>
