---

interface Props {
    url: string;
    text: string;
    style?: "primary" | "secondary";
}

const { url, text, style = "primary" } = Astro.props;

const styles = {
    primary: "bg-(--wc-blue) hover:bg-(--dk-blue) text-white hover:text-white",
    secondary: "bg-(--dk-blue) hover:bg-white text-white hover:text-black",
}

const styleClasses = styles[style];

---

<a class={`${styleClasses} font-sans text-xl py-2 px-4 rounded shadow-xl transition-all duration-300 ease`} href={url}>{text}</a>


