---

const { url, text } = Astro.props;
let { bg, bgHover, color, colorHover } = Astro.props;

if (!bg) {
    bg = "bg-(--wc-blue)";
}

if(!bgHover) {
    bgHover = "hover:bg-(--dk-blue)";
}

if (!color) {
    color = "text-white";
}

if (!colorHover) {
    colorHover = "hover:text-white";
}

const combinedClasses = [bg, bgHover, color, colorHover].join(" ");

---

<a class={`${combinedClasses} self-start font-sans text-xl py-2 px-4 rounded shadow-xl transition-all duration-300 ease`} href={url}>{text}</a>


