---

---

<div class="bg-(--wc-blue) flex flex-col w-full md:min-h-150 py-25 mb-30">

    <div class="flex flex-col md:flex-row w-full max-w-400 m-auto">

        <div class="w-full md:w-1/2 flex flex-col justify-center items-start p-8 gap-4">
            <slot />
        </div>

        <div class="hidden md:w-1/2 md:flex flex-col justify-start items-end p-8">
            <slot name="image" />
        </div>
    </div>
    

</div>