---
const { platform, link } = Astro.props;

let socialIcon = "";

switch(platform) {
    case "instagram":
        socialIcon = "fab fa-instagram";
        break;
    case "youtube":
        socialIcon = "fab fa-youtube";
        break;
    case "linkedin":
        socialIcon = "fab fa-linkedin";
        break;
    default:
        socialIcon = "";
}

---

<a href={link}><i class={socialIcon + " socialIcon py-3"}></i></a>