---
const { testimonial, author } = Astro.props;
---

<div class="w-full lg:w-1/3 flex flex-col gap-6 justify-start bg-white p-12 border-3 border-(--wc-blue) rounded-2xl shadow-xl">
    <div class="flex flex-row">
        <i class="fa-solid fa-star text-amber-400"></i>
        <i class="fa-solid fa-star text-amber-400"></i>
        <i class="fa-solid fa-star text-amber-400"></i>
        <i class="fa-solid fa-star text-amber-400"></i>
        <i class="fa-solid fa-star text-amber-400"></i>
    </div>
    <p class="font-sans text-xl text-black">"{testimonial}"</p>
    <p class="font-sans text-2xl text-(--wc-blue)">"{author}"</p>
</div>