---
import Testimonial from "./Testimonial.astro"

const testimonials = [
    {
        author: "John Doe",
        testimonial: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    },
    {
        author: "Jane Smith",
        testimonial: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    },
    {
        author: "Bob Johnson",
        testimonial: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    },
]

---

<div class="flex flex-col lg:flex-row gap-8 w-full max-w-400 m-auto p-8">

    {testimonials.map(({ author, testimonial }) => (
        <Testimonial testimonial={testimonial} author={author} />
    ))}

</div>		
